<% unless @assignment.nil? %>
  <fieldset>
    <legend><h3>Assignment Details</h3></legend>
    <p>
      <b>Assignment ID</b>: <%= @assignment.id %>
    </p>
    <p>
      <b>Store</b>: <%= link_to @assignment.store.name, store_path(@assignment.store) %>
    </p>

    <p>
      <b>Employee</b>: <%= link_to @assignment.employee.name, employee_path(@assignment.employee) %>
    </p>

    <p>
      <b>Start date</b>: <%= @assignment.start_date.strftime("%m/%d/%Y") %>
    </p>

    <p>
      <b>End date</b>: 
      <% if @assignment.end_date.nil? %>
        &nbsp;&nbsp;<em>TBD</em>
      <% else %>
        <%= @assignment.end_date.strftime("%m/%d/%Y") %>
      <% end %>
    </p>

    <p>
      <b>Pay level</b>: <%= @assignment.pay_level %>
    </p>
  </fieldset>
<% else %>
  <h3>No Assignment to Display</h3>
<% end %>
